body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    direction: rtl;
}

.hero {
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero h1 {
    color: red;
    font-size: 64px;
}

.btn {
    color: white;
    background-color: red;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: darkred;
    transform: scale(1.05);
}